 <h3><center>教練資訊</center></h3>
 <br>
   <div class="row">
   	<div class="container">
  <% @coaches.each do |coach| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to coach_path(coach) do %>
        <% if coach.photo.present? %>
          <%= image_tag(gyms.photo.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>

      <%= coach.name %> / <%= coach.gym.name %>
    </div>
  <% end %>
</div>
