<div class="row">
  <div class="col-md-6">
    <% if @gyms.photo.present? %>
      <%= image_tag(@gyms.photo.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
    <div class="col-md-6">
      <h3> <%=@gyms.name%> </h3>
       <p>地址: <%= @gyms.address %></p>
       <p>電話: <%= @gyms.phone %></p>
       <p>資訊: <%= @gyms.introduction %></p>
      <hr>
      <h3>本館教練</h3>

 <div class="container">
  <% @gyms.coaches.each do |coach| %>
    <div class="col-xs-6 col-md-3">
    <p>姓名: <%= coach.name %></p>
    <p>擅長: <%= coach.major %></p>
    <p>簡介: <%= coach.introduction %></p>
    <p><%= link_to '預約', gym_coach_reservation_path(@gyms, coach) %></p>
    </div>
  <% end %>
</div>

    <br>
       <%= link_to("上一頁", gyms_path, class: "btn btn-default") %>
  </div>
</div>
