<center><h2>二手器材總覽</h2></center>
<br>
<div class="container">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.photo.present? %>
          <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      賣家: <%= product.user.name %>
      <br>
      商品: <%= product.title %>
      <br>
      價格: <%= product.price %> NTD
    </div>
  <% end %>
</div>
