<div class="row">
  <div class="col-md-6">
    <%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
  </div>
    <div class="col-md-6">
  <% @product = Product.find(params[:id]) %>
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        商品資訊: <%= @product.description %>
      </p>
    <div> 數量 : <%= @product.quantity %> </div>
    <div class="product-price"> 價格 <%= @product.price %> NTD
    <div> 賣家: <%= @product.user.name %> </div>
    </div>
   </div>
  </div>
</div>
